.header {
  h1 a {
    @include hide-text;
    display: inline-block;
    background: url(./img/LOGO.svg);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    width: 200px;
    height: auto;
    vertical-align: middle;
  }
  .navbar-toggler-icon {
    background: url(./img/Property1=menu@2x.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .navbar-toggler {
    border: transparent;
    &:focus {
      color: #f5d9e8;
    }
  }
}

.main-menu {
  a {
    display: inline-block;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
}
.icon-menu {
  img {
    background-size: contain;
    width: 32px;
    height: auto;
  }
  a{
    &:hover{
      opacity:0.7;
    }
  }
}

.darkGary {
  color: #1e1e1e;
  &:hover{
    color: #ff8ecb;
  }
}

.banner {
  background: url("./img/banner1920.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 480px;
  max-width: 100%;
  position: relative;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  span {
    display: block;
  }
  h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
  }
  a {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 12px 24px;
  }
  .btn-primary:hover{
    background: #D6ECFA;
  }
}

.content {
  display: flex;
  justify-content: center;
  .container {
    margin-top: 50px;
    h2 {
      font-weight: 700;
      font-size: 32px;
      line-height: 38.4px;
    }
  }
}

.recommend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    width: 90%;
    height: auto;
    padding: 10px;
    &:hover {
      background: #fbf2f7;
      border: 2px solid #ff8ecb;
    }
  }

  .btnStyle {
    border-radius: 16px;
  }
  h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
}
