.order-style {
  .cart-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    padding-top: 93px;
  }
  .cart-radius {
    border-radius: 16px;
    border: 2px solid #ACB1E7;
  }
}

.orders-confirm {
  h2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    @include w-md-max{
      -webkit-line-clamp: 1;
    }
  }
}

.orders {
  .card-row {
    color: #1e1e1e;
    border-color: #f5d9e8;
  }
  .orders-img {
    width: 25%;
    max-height: 160px;
    object-position: center center;
    @include w-md-max {
      width: 40%;
      max-height: 200px;
    }
    @include w-sm {
      width: 48%;
      max-height: 170px;
    }
  }
  .card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    @include w-sm {
      font-size: 20px;
    }
  }

  .card-price {
    span {
      font-weight: 500;
      font-size: 26px;
      @include w-xxs {
        padding-bottom: 0;
      }
    }
  }
}

.orders {
  position: relative;
  .bi-trash-fill {
    position: absolute;
    right: 15px;
    top: 7px;
    color: #acb1e7;
    font-size: 24px;
    padding: 6px;
    &:hover {
      opacity: 0.7;
    }
  }
}

.orders{
  .input-group{
    max-width: 250px;
  } 
}

.orders {
  .count-icon {
    font-size: 24px;
    padding: 6px;
    span {
      right: 217px;
      bottom: 44px;
      @include w-xxs {
        bottom: 45px;
      }
    }
  }
  .count-btn {
    color: #acb1e7;
    .fa-circle-plus {
      right: 175px;
      bottom: 48px;
      @include w-xxs {
        bottom: 50px;
      }
    }
    .fa-circle-minus {
      right: 250px;
      bottom: 48px;
      @include w-xxs {
        bottom: 50px;
      }
      @include w-sm {
        right: 280px;
        bottom: 50px;
      }
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.orders-total {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0 1rem 0;
  }
  h3,
  span {
    font-weight: 300;
    font-size: 20px;
  }
  .total-text-lh {
    line-height: 38px;
  }
}

// 新寫法
.orders-coupon {
  input {
    border: 2px solid #9cd1f3;
    max-width: 250px;
    &:focus {
      outline: none;
      border: 2px solid #f5d9e8;
    }
  }
  .form-control:focus{
    box-shadow: unset;
  }
}


.orders-form {
  input,
  textarea {
    border-color: #f5d9e8;
  }
  .form-control:focus {
    color: #1e1e1e;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
  @include w-lg-max{
    padding-bottom: 6rem;
  }
}
