.banner-content-products{
  position: absolute;
    top: 50%;
    left: 24%;
    transform: translateY(-50%);
}


.nav-list {
  border-radius: 16px;
  border: 2px solid $pink-300;
  .bg-secondary {
    border-radius: 16px;
  }
  a {
    color: #1e1e1e;
    padding: 12px 26px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    &:hover {
      color: #ff8ecb;
    }
  }
}

  .nav-link.active{
    background: #D6ECFA;
    border-radius: 16px;
  }

.nav-list-md {
  @include w-sm{
    padding: 4rem 0 2rem 0;
  }
  li {
    position: relative;
    .link-icon::before {
      position: absolute;
      transform: rotate(90deg);
      top: 16px;
      left: -8px;
    }
  }

  a {
    padding: 12px;
    @include w-sm {
      padding: 12px 15px;
      font-size: 18px;
    }
    &:hover {
      color: #ff8ecb;
      background: transparent;
    }
  }
}

.products-select {
  width: 180px;
  padding: 0.5rem 0.4rem;
  border-radius: 0.5rem;
  border: 1px solid #ff8ecb;
  &:focus {
    outline: none;
    border: 1px solid #acb1e7;
  }
}

.products {
  li {
    position: relative;
    height: 250px;
  }
  .card-row {
    flex-direction: row;
    color: #1e1e1e;
    padding: 0.5rem;
    border-color: #f5d9e8;
    &:hover {
      border-color: #ff8ecb;
    }
  }
  .card-row-img {
    width: 28%;
    height: 200px;
  }
  .card-body {
    h2 {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }
    p {
      font-size: 16px;
      max-width: 500px;
    }
  }
}

.products {
    .card-price{
      padding-right: 25px;
      p {
        margin-bottom: 0;
      }
      display: flex;
      align-items: flex-end;
      @include w-sm{
        padding-right: 0px;
      }
      span {
        font-weight: 500;
        font-size: 24px;
        line-height: 28.8px;
        padding: 0 6px;
      } 
    }
  }

@include w-md-max {
  .products {
    .card-row-img {
      width: 45%;
    }
    .card-body {
      padding-right: 40px;
      h2 {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: break-word;
      }
      .truncate-multiline {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: break-word;
      }
    }
  }
}

.products {
  /*收藏商品*/
  .fa-regular {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #acb1e7;
    font-size: 24px;
    padding: 6px;
    &:hover {
      opacity: 0.7;
    }
  }

  .fa-solid.fa-heart.collect {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #acb1e7;
    font-size: 24px;
    padding: 6px;
    // display: none;
  }

  .bi-cart-fill {
    position: absolute;
    top: 151px;
    right: 10px;
    color: #acb1e7;
    font-size: 24px;
    padding: 6px;
    &:hover {
      opacity: 0.7;
    }
  }
}
