.product {
  .card-row-img {
    width: 100%;
    height: 450px;
    @include w-md-max {
      height: 300px;
    }
  }
  .card-body {
    h2 {
      max-width: 600px;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      @include w-lg-max {
        max-width: 400px;
      }
      @include w-md-max {
        max-width: 300px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: break-word;
      }
      @include w-sm {
        max-width: 200px
      }
    }
  }
}

.product {
  .card-price {
    text-align: center;
    span {
      font-weight: 500;
      font-size: 24px;
      line-height: 28.8px;
      padding: 0 6px;
    }
  }
}

.product {
  .card-body {
    p {
      font-size: 16px;
      max-width: 600px;
      line-height: 1.8rem;
      @include w-lg-max {
        max-width: 400px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: break-word;
      }
      @include w-md-max {
        max-width: 300px;
      }
      @include w-sm {
        max-width: 200px
      }
    }
  }
}

.product .card {
  border: transparent;
  background-color: transparent;
}

.product-card-img-top {
  width: 100%;
  height: 300px;
  @include w-lg-max {
    height: 250px;
  }
  @include w-sm {
    height: 200px;
  }
}

.product {
  position: relative;
  .fa-regular {
    position: absolute;
    right: 195px;
    bottom: 32px;
    color: #acb1e7;
    font-size: 24px;
    padding: 6px;
    &:hover {
      opacity: 0.7;
    }
    @include w-lg-max {
      right: 162px;
    }
    @include w-md-max {
      display: none;
    }
  }

  .fa-solid.fa-heart.collect {
    position: absolute;
    right: 195px;
    bottom: 32px;
    color: #acb1e7;
    font-size: 24px;
    padding: 6px;
    display: none;
    @include w-lg-max {
      right: 162px;
    }
    @include w-md-max {
      display: none;
    }
  }
}

.product-body {
  h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }
  h3 {
    font-size: 16px;
    max-width: 1000px;
    line-height: 2rem;
    @include w-lg-max {
      width: 80%;
    }
    @include w-sm {
      width: 90%;
    }
  }
}

.product-footer {
  h2 {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    @include w-sm {
      text-align: left;
    }
  }
  .card-body {
    text-align: center;
    @include w-sm {
      text-align: left;
    }
    h4 {
      max-width: 600px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      word-wrap: break-word;
      font-size: 20px;
    }
    p {
      @include w-sm {
        max-width: 600px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: break-word;
      }
    }
  }
}
