.recommend-sidebar {
  .sidebar-sticky {
    top: 90px;
    position: sticky;
    @include w-md-max {
      top: 1200px;
    }
  }
  form > p {
    font-size: 20px;
  }
}

.banner-recommend {
  height: 400px;
  max-width: 100%;
  position: relative;
  @include w-md-max {
    height: 350px;
  }
  &-nature {
    background: url("@/assets/img/nature unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &-exhibition {
    background: url("@/assets/img/hayffield-l-Is8_wbhU_FM-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &-hotel {
    background: url("@/assets/img/hotel-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 70%;
  }
  &-camp {
    background: url("@/assets/img/bob-osias-eTsocOQVtkM-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 48%;
  }
  &-theme-park {
    background: url("@/assets/img/quick-ps-pprY3KCsoAg-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 41%;
  }
  &-island {
    background: url("@/assets/img/johnson-hung-aReOMtQczlE-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 45%;
  }
}

.banner-recommend {
  &::after {
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.2);
    height: 180px;
    width: 100%;
    top: 30%;
    @include w-md-max {
      height: 130px;
      top: 38%;
    }
  }
}

.banner-recommend-content {
  position: absolute;
  top: 55%;
  left: 20%;
  transform: translateY(-50%);
  span {
    display: block;
  }
  h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 2px;
  }
  @include w-md-max {
    h2 {
      font-size: 28px;
      line-height: 36px;
    }
    top: 60%;
  }
}
